/* :root{
    --violeta:#b49fff;
    --amarillo:#ffd84a;
    --azul:#7fb8ff;
    --verde:#bfff9f;    
    --gris:#f3f0ed;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60vh;
}
section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
   padding: 20px;
    border-radius: 40px;
    
    background-color: var(--gris);
}
section div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
   padding-top: 40px;
   padding-bottom: 40px;
    width: 90%;
    height: 100%;   
   gap: 20px;
}
section div form input[type="email"],section div form input[type="password"]{
   border-radius: 5px;
   outline: 0;
   border: 0;
   height: 25px;
   background-color: var(--violeta);
}

section div form input[type="submit"] {
    border-radius: 10px;    
    width: fit-content;
    padding:10px 50px 10px 50px;
    outline: 0;
    border: 0;
    background-color: var(--amarillo);
    margin: 20px auto 0px;
}


 */
