<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="plantilla :: header&footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/indexadmin.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/indexadmin.css}">
</head>

<body>
  
    <th:block th:replace="plantilla :: header"></th:block>
    <input type="number" style="display: none;" id="masSeisMesesInput" th:value="${masSeisMeses}" />
    <input type="number" style="display: none;" id="entreUnMesYSeisMesesInput" th:value="${entreUnMesYSeisMeses}" />
    <input type="number" style="display: none;" id="menosUnMesInput" th:value="${menosUnMes}" />
    <input type="number" style="display: none;" id="totalResolInput" th:value="${totalResol}" />
    
    <div class="bg-popup"  id="containerGralForm" th:if="${tipo != ''}" hidden>
        
        <div class="containerGralForm" >
            <label class="botonFormularioResoCerrar" id="closePopup" >Cerrar</label> 
            <div class="containerFormResol">
                
                <form th:action="@{/}"  th:if="${tipo == 'ARTISTICA ESPECIFICA'}" class="formResolucionEspe" id="formResolucionAR" th:object="${resolucion}">

                    <div class="form-group" hidden>
                        <label for="id1">ID</label>
                        <input type="text" id="id1"  th:field="*{id}" >
                    </div>
                    <div class="form-group" hidden>
                        <label for="usuarioDeCreacion1">USUARIO DE CREACIÓN</label>
                        <input type="text" id="usuarioDeCreacion1" th:value="${usuario.email}" >
                    </div>

                    <div class="form-group">
                        <label for="tipoDeOfertaF1">TIPO DE OFERTA</label>
                        <input type="text" id="tipoDeOfertaF1" th:field="*{tipoDeOferta}">                        
                    </div>

                    <!--BORRAR LUEGO-->
                    <h1>ESTE ES EL FORMULARIO DE INDEXADMIN</h1>

                    <div class="form-group">
                        <label for="tipoDeGestionF1">TIPO DE GESTION</label>
                       
                        <select id="tipoDeGestionF1" th:field="*{tipoDeGestion}" >
                            <option value="" disabled selected>Selecciona un tipo de gestion</option>
                            <option value="GESTIÓN PRIVADA (DGEGP)">GESTIÓN PRIVADA (DGEGP)</option>                           
                            <option value="GESTIÓN ESTATAL (DGEART/SSCPEE)">GESTIÓN ESTATAL (DGEART/SSCPEE)</option>                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoDeTitulosF1">TIPO DE TITULO</label>
                        
                        <select id="tipoDeTitulosF1" th:field="*{tipoDeTitulos}" >
                            <option value="" disabled selected>Selecciona un tipo de titulo</option>
                            <option value="TECNICATURA SUPERIOR">TECNICATURA SUPERIOR</option>                           
                            <option value="FORMACION CONTINUA">FORMACION CONTINUA</option>                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="resolucionAprobatoria">RESOLUCIÓN APROBATORIA</label>
                        <input type="text" id="resolucionAprobatoria" th:field="*{resolucionAprobatoria}">
                    </div>
                    <div class="form-group">
                        <label for="numeroDeAnexo">NÚMERO DE ANEXO</label>
                        <input type="text" id="numeroDeAnexo" th:field="*{numeroDeAnexo}">
                    </div>
                    <div class="form-group">
                        <label for="ambitoDeLaEducacion1">AMBITO DE LA EDUCACIÓN</label>
                        <input type="text" id="ambitoDeLaEducacion1"  th:field="*{ambitoDeLaEducacion}">
                    </div>
                    <div class="form-group">
                        <label for="lenguajeDisciplina1">LENGUAJE DE DISCIPLINA</label>
                        <input type="text" id="lenguajeDisciplina1"  th:field="*{lenguajeDisciplina}">
                    </div>
                    <div class="form-group">
                        <label for="area1">ÁREA</label>
                        <select id="area1" th:field="*{area}" >
                            <option value="" disabled selected>Selecciona un Área</option>
                            <option value="ARTES VISUALES Y PLÁSTICAS">ARTES VISUALES Y PLÁSTICAS</option>
                            <option value="ARTES DE LA ALFARERÍA Y LA CERÁMICA">ARTES DE LA ALFARERÍA Y LA CERÁMICA
                            </option>
                            <option value="ARTES DE LA ESCULTURA">ARTES DE LA ESCULTURA</option>
                            <option value="ARTES DE LA ESCENOGRAFÍA Y LA DECORACIÓN">ARTES DE LA ESCENOGRAFÍA Y LA
                                DECORACIÓN</option>
                            <option value="ARTES MUSICALES Y SONORAS">ARTES MUSICALES Y SONORAS</option>
                            <option value="ARTES DRAMÁTICAS">ARTES DRAMÁTICAS</option>
                            <option value="ARTES DEL MOVIMIENTO">ARTES DEL MOVIMIENTO</option>
                            <option value="ARTES AUDIOVISUALES">ARTES AUDIOVISUALES</option>
                            <option value="ARTES MULTIMEDIALES">ARTES MULTIMEDIALES</option>
                            <option value="ARTE Y DISEÑO">ARTE Y DISEÑO</option>
                            <option value="ARTE Y COMUNICACIÓN">ARTE Y COMUNICACIÓN</option>
                            <option value="ARTE Y GESTIÓN CULTURAL">ARTE Y GESTIÓN CULTURAL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="denominacionDeLaTitulacionOCertificacion1">DENOMINACIÓN DE LA TITULACIÓN O
                            CERTIFICACIÓN</label>
                        <input type="text" id="denominacionDeLaTitulacionOCertificacion1" th:field="*{denominacionDeLaTitulacionOCertificacion}">
                    </div>
                    <div class="form-group">
                        <label for="marcoDeReferencia1">MARCO DE REFERENCIA</label>
                        <input type="text" id="marcoDeReferencia1"  th:field="*{marcoDeReferencia}">
                    </div>
                   <!-- <div class="form-group">
                        <label for="normaAprobatoriaDelPlanDeEstudioDisenoCurricular1">NORMA APROBATORIA DEL PLAN DE
                            ESTUDIOS/ DISEÑO CURRICULAR</label>
                        <input type="text" id="normaAprobatoriaDelPlanDeEstudioDisenoCurricular1" th:field="*{normaAprobatoriaDelPlanDeEstudioDisenoCurricular}">
                    </div> -->
                    <div class="form-group">
                        <label for="normaDeValidezNacional1">NORMA DE VALIDEZ NACIONAL</label>
                        <input type="text" id="normaDeValidezNacional1" th:field="*{normaDeValidezNacional}">
                    </div>
                    <div class="form-group">
                        <label for="cargaHorariaHSReloj1">CARGA HORARIA (HS RELOJ)</label>
                        <input type="number" id="cargaHorariaHSReloj1" th:field="*{cargaHorariaHSReloj}">
                    </div>
                    <div class="form-group">
                        <label for="institucionesDondeSeDictaLaOferta1">INSTITUCIONES DONDE SE DICTA LA OFERTA</label>
                        <input type="text" id="institucionesDondeSeDictaLaOferta1" th:field="*{institucionesDondeSeDictaLaOferta}">
                    </div>
                    <div class="form-group">
                        <label for="plazoDeVigencia1">PLAZO DE VIGENCIA</label>
                        <input type="date" id="plazoDeVigencia1"  th:field="*{plazoDeVigencia}">
                    </div>
                    <div class="form-group">
                        <label for="plazoDeValidezNacional1">PLAZO DE VALIDEZ NACIONAL</label>
                        <input type="date" id="plazoDeValidezNacional1"  th:field="*{plazoDeValidezNacional}">
                    </div>

                    <div class="form-group">
                        <label for="url1">URL DEL ARCHIVO</label>
                        <input type="text" id="url1"  th:field="*{url}">
                    </div>                               

                </form>
                <form th:action="@{/}"  th:if="${tipo == 'CAPACITACIÓN LABORAL'}" class="formResolucionEspe" id="formResolucionCPL" th:object="${resolucion}">
                    <div class="form-group" hidden>
                        <label for="id2">ID</label>
                        <input type="text" id="id2" th:field="*{id}" >
                    </div>
                    <div class="form-group" hidden>
                        <label for="usuarioDeCreacion2">USUARIO DE CREACIÓN</label>
                        <input type="text" id="usuarioDeCreacion2" th:value="${usuario.email}" >
                    </div>           
                    <div class="form-group">
                        <label for="tipoDeOfertaF2">TIPO DE OFERTA</label>
                        <input type="text" id="tipoDeOfertaF2" th:field="*{tipoDeOferta}" >
                    </div>
                    <div class="form-group">
                        <label for="resolucionAprobatoria">RESOLUCIÓN APROBATORIA</label>
                        <input type="text" id="resolucionAprobatoria" th:field="*{resolucionAprobatoria}">
                    </div>
                    <div class="form-group">
                        <label for="numeroDeAnexo">NÚMERO DE ANEXO</label>
                        <input type="text" id="numeroDeAnexo" th:field="*{numeroDeAnexo}">
                    </div>
                  
                    <div class="form-group">
                        <label for="nominaDeFamiliasProfesionales2">NOMINA DE FAMILIAS PROFECIONALES</label>               
                        <select id="nominaDeFamiliasProfesionales2"  th:field="*{nominaDeFamiliasProfesionales}">
                            <option value="" selected disabled>Selecciona una opción</option>
                            <option value="ACTIVIDADES ARTÍSTICAS TÉCNICAS">ACTIVIDADES ARTÍSTICAS TÉCNICAS</option>
                            <option value="ADMINISTRACIÓN, GESTIÓN Y SERVICIOS EMPRESARIALES">ADMINISTRACIÓN, GESTIÓN Y SERVICIOS EMPRESARIALES</option>
                            <option value="AERONÁUTICA">AERONÁUTICA</option>
                            <option value="AGROPECUARIO">AGROPECUARIO</option>
                            <option value="AUTOMOTRIZ">AUTOMOTRIZ</option>
                            <option value="CONSTRUCCIONES">CONSTRUCCIONES</option>
                            <option value="CUERO Y CALZADO">CUERO Y CALZADO</option>
                            <option value="ELECTROMECÁNICA">ELECTROMECÁNICA</option>
                            <option value="ELECTRÓNICA">ELECTRÓNICA</option>
                            <option value="ENERGÍA">ENERGÍA</option>
                            <option value="ESTÉTICA PROFESIONAL">ESTÉTICA PROFESIONAL</option>
                            <option value="FERROVIARIO">FERROVIARIO</option>
                            <option value="HOTELERÍA Y GASTRONOMÍA">HOTELERÍA Y GASTRONOMÍA</option>
                            <option value="INDUSTRIA ALIMENTARIA">INDUSTRIA ALIMENTARIA</option>
                            <option value="INDUSTRIAS DE PROCESOS">INDUSTRIAS DE PROCESOS</option>
                            <option value="INDUSTRIAS, GRÁFICA, PUBLICITARIA Y MULTIMEDIAL">INDUSTRIAS, GRÁFICA, PUBLICITARIA Y MULTIMEDIAL</option>
                            <option value="INFORMÁTICA">INFORMÁTICA</option>
                            <option value="MADERA Y MUEBLE">MADERA Y MUEBLE</option>
                            <option value="MECÁNICA, METALMECÁNICA Y METALURGIA">MECÁNICA, METALMECÁNICA Y METALURGIA</option>
                            <option value="MINERÍA E HIDROCARBUROS">MINERÍA E HIDROCARBUROS</option>
                            <option value="NAVAL">NAVAL</option>
                            <option value="SALUD">SALUD</option>
                            <option value="SEGURIDAD, AMBIENTE E HIGIENE">SEGURIDAD, AMBIENTE E HIGIENE</option>
                            <option value="TEXTIL E INDUMENTARIA">TEXTIL E INDUMENTARIA</option>
                            <option value="TURISMO">TURISMO</option>
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label for="resolucionAprobatoriaDeCapacitacionLaboral2">RESOLUCION APROBATORIA DE CAPACITACION LABORAL</label>
                        <input type="text" id="resolucionAprobatoriaDeCapacitacionLaboral2" th:field="*{resolucionAprobatoriaDeCapacitacionLaboral}">
                    </div> -->
                    <div class="form-group">                       
                        <label for="denominacionDeLaTitulacionOCertificacion2">DENOMINACIÓN DE LA CERTIFICACIÓN</label>
                        <input type="text" id="denominacionDeLaTitulacionOCertificacion2" th:field="*{denominacionDeLaTitulacionOCertificacion}">
                    </div>
                    <div class="form-group">
                        <label for="cargaHorariaHSReloj2">CARGA HORARIA (HS RELOJ)</label>
                        <input type="number" id="cargaHorariaHSReloj2"  th:field="*{cargaHorariaHSReloj}">
                    </div>
                    <div class="form-group">
                        <label for="institucionesDondeSeDictaLaOferta2">CENOF DONDE SE DICTA LA CAPACITACION LABORAL</label>
                        <input type="text" id="institucionesDondeSeDictaLaOferta2"  th:field="*{institucionesDondeSeDictaLaOferta}">
                    </div>
                    <div class="form-group">
                        <label for="cnofDondeSeDictaLaOferta2">CNOF DONDE SE DICTA LA OFERTA</label>
                        <input type="text" id="cnofDondeSeDictaLaOferta2"  th:field="*{cnofDondeSedictaLaOferta}">
                    </div>
                    <div class="form-group">
                        <label for="plazoDeVigencia2">PLAZO DE VIGENCIA</label>
                        <input type="date" id="plazoDeVigencia2" th:field="*{plazoDeVigencia}">
                    </div>
                    <div class="form-group">
                        <label for="url2">URL DEL ARCHIVO</label>
                        <input type="text" id="url2" th:field="*{url}" >
                    </div>
                    
                </form>
                <form th:action="@{/}"  th:if="${tipo == 'SOCIO HUMANISTICA'}" action="#" class="formResolucionEspe" id="formResolucionSH" th:object="${resolucion}">
                    <div class="form-group" hidden>
                        <label for="id3">ID</label>
                        <input type="text" id="id3" th:field="*{id}">
                    </div>
                    <div class="form-group" hidden>
                        <label for="usuarioDeCreacion3">USUARIO DE CREACIÓN</label>
                        <input type="text" id="usuarioDeCreacion3" th:value="${usuario.email}" >
                    </div>           
                    <div class="form-group">
                        <label for="tipoDeOfertaF3">TIPO DE OFERTA</label>
                        <input type="text" id="tipoDeOfertaF3"th:field="*{tipoDeOferta}">
                    </div>
                    <div class="form-group">
                        <label for="tipoDeGestionF3">TIPO DE GESTION</label>                        
                        <select id="tipoDeGestionF3"th:field="*{tipoDeGestion}" >
                            <option value="" disabled selected>Selecciona un tipo de gestion</option>
                            <option value="GESTIÓN PRIVADA (DGEGP)">GESTIÓN PRIVADA (DGEGP)</option>                           
                            <option value="GESTIÓN ESTATAL (SSAALV/SSCPEE)">GESTIÓN ESTATAL (SSAALV/SSCPEE)</option>                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoDeTitulosF3">TIPO DE TITULO</label>
                        
                        <select id="tipoDeTitulosF3"th:field="*{tipoDeTitulos}" >
                            <option value="" disabled selected>Selecciona un tipo de titulo</option>
                            <option value="TECNICATURA SUPERIOR">TECNICATURA SUPERIOR</option>                           
                            <option value="FORMACION CONTINUA">FORMACION CONTINUA</option>                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="resolucionAprobatoria">RESOLUCIÓN APROBATORIA</label>
                        <input type="text" id="resolucionAprobatoria" th:field="*{resolucionAprobatoria}">
                    </div>
                    <div class="form-group">
                        <label for="numeroDeAnexo">NÚMERO DE ANEXO</label>
                        <input type="text" id="numeroDeAnexo" th:field="*{numeroDeAnexo}">
                    </div>
                  
                    <div class="form-group">
                        <label for="ambitoDeLaEducacion3">ÁMBITO DE LA EDUCACIÓN</label>
                        <input type="text" id="ambitoDeLaEducacion3"th:field="*{ambitoDeLaEducacion}" >
                    </div>
                    <div class="form-group">
                        <label for="disciplinaSociohumanistica3">DISCIPLINA SOCIO HUMANÍSTICA</label>
                        <input type="text" id="disciplinaSociohumanistica3" th:field="*{disciplinaSociohumanistica}">
                    </div>
                    <div class="form-group">
                        <label for="area3">ÁREA</label>
                        <select id="area3" name="area3"th:field="*{area}">
                            <option value="">Seleccionar Área</option>
                            <option value="COMUNICACIÓN Y MEDIOS">COMUNICACIÓN Y MEDIOS</option>
                            <option value="INTERVENCIÓN SOCIAL">INTERVENCIÓN SOCIAL</option>
                            <option value="DEPORTE, JUEGO Y TIEMPO LIBRE">DEPORTE, JUEGO Y TIEMPO LIBRE</option>
                            <option value="BIENESTAR PERSONAL Y COMUNITARIO">BIENESTAR PERSONAL Y COMUNITARIO</option>
                            <option value="RELACIONES INSTITUCIONALES Y HUMANAS">RELACIONES INSTITUCIONALES Y HUMANAS</option>
                            <option value="POLÍTICA, DERECHO Y SOCIOLOGÍA">POLÍTICA, DERECHO Y SOCIOLOGÍA</option>
                            <option value="ECONOMÍA, BANCOS Y FINANZAS">ECONOMÍA, BANCOS Y FINANZAS</option>
                            <option value="HUMANÍSTICAS">HUMANÍSTICAS</option>
                            <option value="FILOSOFÍA, ÉTICA Y RELIGIÓN">FILOSOFÍA, ÉTICA Y RELIGIÓN</option>
                            <option value="LITERATURA, REDACCIÓN LITERARIA Y EDICIÓN">LITERATURA, REDACCIÓN LITERARIA Y EDICIÓN</option>
                            <option value="TAQUIGRAFÍA / ESTENOTIPIA, TRADUCTORADOS E INTERPRETARIADOS">TAQUIGRAFÍA / ESTENOTIPIA, TRADUCTORADOS E INTERPRETARIADOS</option>
                            <option value="DISCIPLINAS COMBINADAS">DISCIPLINAS COMBINADAS</option>
                            <option value="CIENCIAS DE LA VIDA">CIENCIAS DE LA VIDA</option>
                            <option value="CIENCIAS DE LA CONDUCTA PERSONAL Y SOCIAL">CIENCIAS DE LA CONDUCTA PERSONAL Y SOCIAL</option>
                            <option value="HISTORIA, GEOGRAFÍA Y ARQUEOLOGÍA">HISTORIA, GEOGRAFÍA Y ARQUEOLOGÍA</option>
                            <option value="HISTORIA, GEOGRAFÍA Y AMBIENTE">HISTORIA, GEOGRAFÍA Y AMBIENTE</option>
                        </select>               
                    </div>
                    <div class="form-group">
                        <label for="marcoDeReferencia3">MARCO DE REFERENCIA</label>
                        <input type="text" id="marcoDeReferencia3" th:field="*{marcoDeReferencia}">
                    </div>
                  <!--  <div class="form-group">
                        <label for="normaAprobatoriaDelPlanDeEstudioDisenoCurricular3">NORMA APROBATORIA DEL PLAN DE ESTUDIO/DISEÑO CURRICULAR</label>
                        <input type="text" id="normaAprobatoriaDelPlanDeEstudioDisenoCurricular3"th:field="*{normaAprobatoriaDelPlanDeEstudioDisenoCurricular}" >
                    </div> -->
                    <div class="form-group">
                        <label for="normaDeValidezNacional3">NORMA DE VALIDEZ NACIONAL</label>
                        <input type="text" id="normaDeValidezNacional3" th:field="*{normaDeValidezNacional}">
                    </div>
                    <div class="form-group">
                        <label for="cargaHorariaHSReloj3">CARGA HORARIA (HS RELOJ)</label>
                        <input type="number" id="cargaHorariaHSReloj3"th:field="*{cargaHorariaHSReloj}" >
                    </div>
                    <div class="form-group">
                        <label for="institucionesDondeSeDictaLaOferta3">INSTITUCIONES DONDE SE DICTA LA OFERTA</label>
                        <input type="text" id="institucionesDondeSeDictaLaOferta3" th:field="*{institucionesDondeSeDictaLaOferta}">
                    </div>
                    <div class="form-group">
                        <label for="plazoDeVigencia3">PLAZO DE VIGENCIA</label>
                        <input type="date" id="plazoDeVigencia3"th:field="*{plazoDeVigencia}" >
                    </div>
                    <div class="form-group">
                        <label for="plazoDeValidezNacional3">PLAZO DE VALIDEZ NACIONAL</label>
                        <input type="date" id="plazoDeValidezNacional3"th:field="*{plazoDeValidezNacional}">
                    </div>
                    <div class="form-group">
                        <label for="url3">URL DEL ARCHIVO</label>
                        <input type="text" id="url3" th:field="*{url}">
                    </div>
        
                
                    
                </form>
                <form th:action="@{/}" th:if="${tipo == 'EDUCACIÓN TECNICA PROFESIONAL'}"  action="#" class="formResolucionEspe" id="formResolucionETP" th:object="${resolucion}">
                    <div class="form-group" hidden>
                        <label for="id4">ID</label>
                        <input type="text" id="id4"th:field="*{id}">
                    </div>
                    <div class="form-group" hidden>
                        <label for="usuarioDeCreacion4">USUARIO DE CREACIÓN</label>
                        <input type="text" id="usuarioDeCreacion4" th:value="${usuario.email} " >
                    </div>
                   
                    <div class="form-group">
                        <label for="tipoDeOfertaF4">TIPO DE OFERTA</label>
                        <input type="text" id="tipoDeOfertaF4" th:field="*{tipoDeOferta}">
                    </div>
                    <div class="form-group">
                        <label for="tipoDeGestionF4">TIPO DE GESTION</label>
                       
                        <select id="tipoDeGestionF4" th:field="*{tipoDeGestion}">
                            <option value="" disabled selected>Selecciona un tipo de gestion</option>
                            <option value="GESTIÓN ESTATAL (SSAALV)">GESTIÓN ESTATAL (SSAALV)</option>                           
                            <option value="GESTIÓN PRIVADA (DGEGP)">GESTIÓN PRIVADA (DGEGP)</option>                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoDeTitulosF4">TIPO DE TITULO</label>
                        
                        <select id="tipoDeTitulosF4" th:field="*{tipoDeTitulos}">
                            <option value="" disabled selected>Selecciona un tipo de titulo</option>
                            <option value="TECNICATURA SUPERIOR">TECNICATURA SUPERIOR</option>                           
                            <option value="FORMACION PROFESIONAL INICIAL">FORMACION PROFESIONAL INICIAL</option>                           
                            <option value="FORMACION PROFESIONAL CONTINUA">FORMACION PROFESIONAL CONTINUA</option>                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="resolucionAprobatoria">RESOLUCIÓN APROBATORIA</label>
                        <input type="text" id="resolucionAprobatoria" th:field="*{resolucionAprobatoria}">
                    </div>
                    <div class="form-group">
                        <label for="numeroDeAnexo">NÚMERO DE ANEXO</label>
                        <input type="text" id="numeroDeAnexo" th:field="*{numeroDeAnexo}">
                    </div>
                    <div class="form-group">
                        <label for="ambitoDeLaETP4">AMBITO DE LA ETP</label>
                        <input type="text" id="ambitoDeLaETP4" th:field="*{ambitoDeLaETP}">
                    </div>
                    <div class="form-group">
                        <label for="nominaDeFamiliasProfesionales4">NOMINA DE FAMILIAS PROFECIONALES</label>
                        <select id="nominaDeFamiliasProfesionales4" th:field="*{nominaDeFamiliasProfesionales}">
                            <option value="">Seleccionar Nomina</option>
                            <option value="ACTIVIDADES ARTÍSTICAS TÉCNICAS">ACTIVIDADES ARTÍSTICAS TÉCNICAS</option>
                            <option value="ADMINISTRACIÓN, GESTIÓN Y SERVICIOS EMPRESARIALES">ADMINISTRACIÓN, GESTIÓN Y SERVICIOS EMPRESARIALES</option>
                            <option value="AERONÁUTICA">AERONÁUTICA</option>
                            <option value="AGROPECUARIO">AGROPECUARIO</option>
                            <option value="AUTOMOTRIZ">AUTOMOTRIZ</option>
                            <option value="CONSTRUCCIONES">CONSTRUCCIONES</option>
                            <option value="CUERO Y CALZADO">CUERO Y CALZADO</option>
                            <option value="ELECTROMECÁNICA">ELECTROMECÁNICA</option>
                            <option value="ELECTRÓNICA">ELECTRÓNICA</option>
                            <option value="ENERGÍA">ENERGÍA</option>
                            <option value="ESTÉTICA PROFESIONAL">ESTÉTICA PROFESIONAL</option>
                            <option value="FERROVIARIO">FERROVIARIO</option>
                            <option value="HOTELERÍA Y GASTRONOMÍA">HOTELERÍA Y GASTRONOMÍA</option>
                            <option value="INDUSTRIA ALIMENTARIA">INDUSTRIA ALIMENTARIA</option>
                            <option value="INDUSTRIAS DE PROCESOS">INDUSTRIAS DE PROCESOS</option>
                            <option value="INDUSTRIAS, GRÁFICA, PUBLICITARIA Y MULTIMEDIAL">INDUSTRIAS, GRÁFICA, PUBLICITARIA Y MULTIMEDIAL</option>
                            <option value="INFORMÁTICA">INFORMÁTICA</option>
                            <option value="MADERA Y MUEBLE">MADERA Y MUEBLE</option>
                            <option value="MECÁNICA, METALMECÁNICA Y METALURGIA">MECÁNICA, METALMECÁNICA Y METALURGIA</option>
                            <option value="MINERÍA E HIDROCARBUROS">MINERÍA E HIDROCARBUROS</option>
                            <option value="NAVAL">NAVAL</option>
                            <option value="SALUD">SALUD</option>
                            <option value="SEGURIDAD, AMBIENTE E HIGIENE">SEGURIDAD, AMBIENTE E HIGIENE</option>
                            <option value="TEXTIL E INDUMENTARIA">TEXTIL E INDUMENTARIA</option>
                            <option value="TURISMO">TURISMO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="titulacionOTipoDeCertificacion4">TITULACIÓN O TIPO DE CERTIFICACIÓN</label>
                        <input type="text" id="titulacionOTipoDeCertificacion4"th:field="*{titulacionOTipoDeCertificacion}" >
                    </div>
                    <div class="form-group">
                        <label for="denominacionDeLaTitulacionOCertificacion4">DENOMINACIÓN DE LA TITULACIÓN O CERTIFICACIÓN</label>
                        <input type="text" id="denominacionDeLaTitulacionOCertificacion4" th:field="*{denominacionDeLaTitulacionOCertificacion}">
                    </div>
                    <div class="form-group">
                        <label for="marcoDeReferencia4">MARCO DE REFERENCIA</label>
                        <input type="text" id="marcoDeReferencia4" th:field="*{marcoDeReferencia}">
                    </div>
                   <!-- <div class="form-group">
                        <label for="normaAprobatoriaDelPlanDeEstudioDisenoCurricular4">NORMA APROBATORIA DEL PLAN DE ESTUDIOS/ DISEÑO CURRICULAR</label>
                        <input type="text" id="normaAprobatoriaDelPlanDeEstudioDisenoCurricular4" th:field="*{normaAprobatoriaDelPlanDeEstudioDisenoCurricular}">
                    </div> -->
                    <div class="form-group">
                        <label for="normaDeValidezNacional4">NORMA DE VALIDEZ NACIONAL</label>
                        <input type="text" id="normaDeValidezNacional4" th:field="*{normaDeValidezNacional}">
                    </div>
                    <div class="form-group">
                        <label for="cargaHorariaHSReloj4">CARGA HORARIA (HS RELOJ)</label>
                        <input type="number" id="cargaHorariaHSReloj4" th:field="*{cargaHorariaHSReloj}">
                    </div>
                    <div class="form-group">
                        <label for="plazoDeVigencia4">PLAZO DE VIGENCIA</label>
                        <input type="date" id="plazoDeVigencia4" th:field="*{plazoDeVigencia}">
                    </div>
                    <div class="form-group">
                        <label for="plazoDeValidezNacional4">PLAZO DE VALIDEZ NACIONAL</label>
                        <input type="date" id="plazoDeValidezNacional4" th:field="*{plazoDeValidezNacional}">
                    </div>
                    <div class="form-group">
                        <label for="url4">URL DEL ARCHIVO</label>
                        <input type="text" id="url4" th:field="*{url}">
                    </div>
                   
                  
                    
                    
                </form>

              
                

            </div>
           
        </div>
    </div>

 

 
    <section class="panelGeneral" >
        <div class="container-tituloSeccion">
       <div class="tituloSeccion">
        <span>CATÁLOGO DE TITULOS Y CERTIFICADOS</span>
        </div>
            <br>

       <div class="busquedaPorNroResolucion">
        <form th:action="@{/admin/resolucion/numero}">
            <label for="resolucionNro">BÚSQUEDA POR N° DE RESOLUCIÓN:</label><input type="text" name="resolucionNro" id="resolucionNro" class="boton buscardorReso" placeholder="RESOL-2023-3798-GCABA-MEDGC">
        <label class="boton amarillo buscardorReso" for="bucarResolucionAprobatoria">BUSCAR</label> 
        <input type="submit" value="enviar" hidden id="bucarResolucionAprobatoria">  
        </form>
       </div>
        </div>
        
     


       
      
        <div class="div-redirecciones">
            
 
            <div class="redirecciones" onclick="redirigirA('/admin/panel')"><img th:src="@{/img/cargaroferta.png}" alt="" class="iconoRedireccion"><span class="tituloRedireccion">CARGAR OFERTA</span></div>
            <div class="redirecciones" onclick="redirigirA('/admin/panel')"><img th:src="@{/img/vercatalogo.png}" alt="" class="iconoRedireccion"><span class="tituloRedireccion">VER CATALOGO</span></div>
            <div class="redirecciones" onclick="redirigirA('/admin/graficas')"><img th:src="@{/img/reportes.png}" alt="" class="iconoRedireccion"><span class="tituloRedireccion">REPORTE</span></div>
        </div>
     


    </section>
  
    <th:block th:replace="plantilla :: footer-mobile"></th:block>
    <th:block th:replace="plantilla :: footer-web"></th:block>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
  
    
    <script src="/static/js/indexPanel.js"></script>
    <script th:src="@{/js/indexPanel.js}"></script>
  
</body>

</html>