<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <section th:fragment="header&footer">
        <link rel="stylesheet" th:href="@{/css/plantilla.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <script th:src="@{/js/header.js}"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        <link rel="icon" th:href="@{/img/logohead.webp}" th:width="48" />
        <title>Resoluciones BA</title>
    </section>



</head>

<body>
    <header class="main-header" th:fragment="header">
        <div class="logo">
            <!-- Aquí puedes poner tu logotipo o título -->
            <span><img th:src="@{/img/logoAgencia.png}" alt="logo BA" id="logoAgencia"></span>
        </div>
        <div class="user-menu">
            <div class="userName" th:if="${usuario}">
                <span th:text="${usuario.nombre.toUpperCase()}" class="user-name">JORGE</span>
                <div th:if="${usuario.imagen}">
                    <img th:src="'https://inscripcionesagencia.bue.edu.ar/catalogodetitulaciones'+${usuario.imagen}"
                        alt="Imagen de Usuario" class="user-avatar" />
                    <!-- <img th:src="'http://localhost:8080'+${usuario.imagen}" alt="Imagen de Usuario" class="user-avatar" /> -->


                </div>
                <div th:unless="${usuario.imagen}" id="ingreso">
                    <!-- Icono de usuario de Iconify -->
                    <span class="user-avatar iconify" data-icon="carbon:user-avatar-filled"></span>

                </div>



            </div>
            <div class="userName" th:unless="${usuario}">
                <div id="loguearse"> <!-- Icono de usuario de Iconify -->
                    <span class="user-avatar iconify" data-icon="carbon:user-avatar-filled"></span>
                    <span id="textoIngreso" >Ingreso</span>
                </div>


            </div>

            <!-- DESPLIEGA EL MENU DE ADMINISTRADOR-->
            <div th:if="${usuario}" class="mobile-menu-icon iconify" data-icon="teenyicons:menu-outline"
                onclick="toggleMobileNav()"></div>


        </div>


        <!-- MENU DEL ADMINISTRADOR -->
        <nav class="mobile-nav">
            <ul>
                <li th:if="${usuario != null && (usuario.permisos == 'ROLE_ADMIN' || usuario.permisos == 'ROLE_EDITOR') }"  id="cargaResolucion" onclick="abrirCargaResoParaCrear()"><a href="#">CARGAR RESOLUCION</a></li>
                <!-- <li id="cargaMasica"><a href="#">CARGA MASIVA</a></li> -->
                <li id="exportarResoluciones"><a href="#">EXPORTAR RESOLUCIONES</a></li>
                <li th:if="${usuario != null && usuario.permisos == 'ROLE_ADMIN' }"><a th:href="@{/admin/usuarios}" >ADMINISTRAR USUARIOS</a></li>
           
                <li th:unless="${pagPrin}"><a th:href="@{/admin}">ADMIN</a></li>
                <li id="desloguearse"><a href="#">SALIR</a></li>
            </ul>
        </nav>
        <script>
            let exportarResoluciones = document.getElementById("exportarResoluciones");
            // let cargaMasica = document.getElementById("cargaMasica");
            let cargaResolucion = document.getElementById("cargaResolucion");

            let botonesMenu = [exportarResoluciones, cargaResolucion]
            for (const iterator of botonesMenu) {
                iterator.classList.add("noVisible")
            }
        </script>
        <script th:src="@{/js/header.js}"></script>
    </header>

    <div class="title-container">
        <h3>Catálogo de Títulos y Certificados</h3>
        <p>Catálogo de Títulos y Certificados para la Educación Técnico Profesional,
            y de ofertas educativas Socio Humanísticas y de Educación Artística Específica
            de nivel superior no universitario.

        </p>
    </div>

    <div class="busquedaDeTitulos">
        <h3>Búsqueda de títulos:</h3>
        <br>
        <span>
            <p>Seleccione criterios de búsqueda.</p>
        </span>
        <div class="resolution-filters">

            <select name="tipoDeOferta" id="tipoOfertaOut">

                <option value="" selected>Catálogo</option>
                <option value="EDUCACIÓN TECNICA PROFESIONAL">Educación Técnica Profesional</option>
                <option value="SOCIO HUMANISTICA">Socio Humanística</option>
                <option value="ARTISTICA ESPECIFICA">Artística Específica</option>
                <option value="CAPACITACIÓN LABORAL">Capacitación Laboral</option>

            </select>

            <!-- SELECCIONA EL TIPO DE GESTIÓN -->
            <select name="tipoDeGestion" id="tipoGetionOutETP" style="display: none">
                <option value="" selected>Tipo de gestión</option>
                <option value="GESTIÓN ESTATAL (SSAALV)">Estatal (SSAALV)</option>
                <option value="GESTIÓN PRIVADA (DGEGP)">Privada (DGEGP)</option>
            </select>

            <select name="tipoDeGestion" id="tipoGetionOutSH" style="display: none">
                <option value="" selected>Tipo de gestión</option>
                <option value="GESTIÓN ESTATAL (SSAALV/SSCPEE)">Estatal (SSAALV/SSCPEE)</option>
                <option value="GESTIÓN PRIVADA (DGEGP)">Privada (DGEGP)</option>
            </select>

            <select name="tipoDeGestion" id="tipoGetionOutAR" style="display: none">
                <option value="" selected>Tipo de gestión</option>
                <option value="GESTIÓN ESTATAL (DGEART/SSCPEE)">Estatal (DGEART/SSCPEE)</option>
                <option value="GESTIÓN PRIVADA (DGEGP)">Privada (DGEGP)</option>
            </select>

            <select name="tipoDeGestion" id="tipoGetionOutCP">
                <option value="" selected>-</option>
            </select>

            <!-- selecciona el tipo de titulo -->
            <select name="tipoDeTitulo" id="tipoTituloOutETP" class="ETP" style="display: none">

                    <!-- tipo de titulos para EDUCACION TECNICA PROFESIONAL -->
                <option value="" selected class="ETP">Tipo de título</option>
                <option value="TECNICATURA SUPERIOR" class="ETP">Tecnicatura Superior</option>
                <option value="FORMACION PROFESIONAL INICIAL" class="ETP">Formación Profesional Inicial</option>
                <option value="FORMACION PROFESIONAL CONTINUA" class="ETP">Formación Profesional Continua</option>
                </select>

                <!-- TIPO DE TITULOS PARA ARTISTICA Y SOCIO HUMANISTICA -->

                <select class="ArSh" id="tipoTituloOutArSh" style="display: none">
                <option value="" selected class="ArSh">Tipo de título</option>
                <option value="TECNICATURA SUPERIOR" class="ArSh">Tecnicatura Superior</option>
                <option value="FORMACION PROFESIONAL CONTINUA" class="ArSh">Formación Profesional Continua</option>
                </select>
                <!-- TIPO DE TITULOS PARA CAPACITACION LABORAL -->

                <select class="CP" id="tipoTituloOutCp">
                <option value="" selected class="CP">-</option>
                </select>
            </select>





            <input type="text" id="titleNameSearch" placeholder="Nombre de Oferta Educativa">
                <span onclick="buscarPorDenominacion()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                           viewBox="0 0 24 24" ><path fill="#3280e4" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16
                           9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"/>
                </svg></span>



        </div>
    </div>

    <div class="contenedorBuscar">
        <button type="button" onclick="retrieveGuests()">Buscar</button>
    </div>


    <div class="table-container">
        <section id="tablaResoluciones">

        </section>
    </div>


    <footer class="footer-mobile" th:fragment="footer-mobile">
        <!-- <link rel="stylesheet" href="/css footer/footer-mobile.css"> -->
        <div class="footer-img-vamosba">
            <img th:src="@{/img/ba_vamosba_blanco.webp}" alt="">
        </div>

        <div class="footer-telefonos-utiles">
            <p>Teléfonos Utiles</p>
            <div class="footer-telefonos-utiles-numeros">
                <div class="footer-tel-item-num"> <a href="tel:102"><span>102</span></a>
                    <p>Niñez y Adolescencia</p>
                </div>
                <div class="footer-tel-item-num"> <a href="tel:103"><span>103</span></a>
                    <p>Emergencias</p>
                </div>
                <div class="footer-tel-item-num"> <a href="tel:107"><span>107</span></a>
                    <p>SAME</p>
                </div>
                <div class="footer-tel-item-num"> <a href="tel:911"><span>911</span></a>
                    <p>Policía</p>
                </div>
                <div class="footer-tel-item-num"> <a href="tel:147"><span>147</span></a>
                    <p>Atención ciudadana</p>
                </div>
                <div class="footer-tel-item-num"> <a href="tel:144"><span>144</span></a>
                    <p>Violencia de género</p>
                </div>
            </div>
        </div>
        <div class="footer-ver-todos-tel"> <a href="https://www.buenosaires.gob.ar/laciudad/telefonosutiles"><span>Ver
                    todos los Teléfonos</span></a></div>
        <div class="footer-redes">

            <p>Redes de la Ciudad</p>
            <div class="redes-iconos">
                <a href="https://www.facebook.com/GCBA/" target="blank">
                    <i class="iconify" id="face" data-icon="gg:facebook"
                        style="color: white; width: 25px;height: 25px;"></i>
                </a>
                <a href="https://twitter.com/gcba" target="blank">
                    <i class="iconify" data-icon="line-md:twitter-x-alt"
                        style="color: white;width: 25px;height: 25px;"></i>
                </a>
                <a href="https://www.instagram.com/buenosaires/" target="blank">
                    <i class="iconify" data-icon="bi:instagram" style="color: white;width: 25px;height: 25px;"></i>
                </a>
                <a href="https://www.youtube.com/user/GCBA" target="blank">
                    <i class="iconify" data-icon="fa:youtube" style="color: white;width: 25px;height: 25px;"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="footer-legales">
            <img th:src="@{/img/ciudad-ba.webp}" alt="">
            <p>Los contenidos de buenosaires.gob.ar están licenciados bajo Creative Commons Reconocimiento 2.5 Argentina
                License.</p>
            <div class="footer-legales-items">
                <a href="https://boletinoficial.buenosaires.gob.ar/"><span>Boletín Oficial</span></a>
                <a href="https://www.buenosaires.gob.ar/innovacion/ciudadinteligente/terminos-y-condiciones"><span>Términos
                        y condiciones</span></a>
                <a href="https://www.buenosaires.gob.ar/privacidad"><span>Política de Privacidad</span></a>
                <a href="https://www.buenosaires.gob.ar/oficiosjudiciales"><span>Oficios Judiciales</span></a>
            </div>
        </div>
    </footer>
    <footer class="footer-web" th:fragment="footer-web">
        <script th:src="@{https://code.iconify.design/2/2.2.1/iconify.min.js}"></script>
        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
        <div class="contenedor-fot-prin">
            <div class="fot-sup">
                <div class="logo-ba-fot">
                    <a href="http://www.buenosaires.gob.ar/" target="blank">
                        <img th:src="@{/img/ba_vamosba_blanco.webp}" alt="Logo Vamos Buenos Aires">
                    </a>
                </div>
                <div class="fot-sup-cont">
                    <div class="fot-cont-sup-titulos">
                        <div class="fot-cont-titulos">
                            <p>Teléfonos útiles</p>
                            <a href="https://www.buenosaires.gob.ar/laciudad/telefonosutiles" target="blank">
                                <p>Ver todos los teléfonos</p>
                            </a>
                        </div>
                        <div class="fot-cont-tel">
                            <div>
                                <a href="tel:102" target="blank"><span>102</span></a>
                                <p>Niñez y Adolescencia</p>
                            </div>
                            <div>
                                <a href="tel:103" target="blank"><span>103</span></a>
                                <p>Emergencias</p>
                            </div>
                            <div>
                                <a href="tel:107" target="blank"><span>107</span></a>
                                <p>SAME</p>
                            </div>
                            <div>
                                <a href="tel:911" target="blank"><span>911</span></a>
                                <p>Policía</p>
                            </div>
                            <div>
                                <a href="tel:147" target="blank"><span>147</span></a>
                                <p>Atención ciudadana</p>
                            </div>
                            <div>
                                <a href="tel:144" target="blank"><span>144</span></a>
                                <p>Violencia de género</p>
                            </div>

                        </div>
                    </div>
                    <div class="fot-cont-inf">
                        <div class="fot-cont-inf-titulos-redes">
                            <p>Redes de la Ciudad</p>
                        </div>
                        <div class="fot-cont-inf-redes">
                            <a href="https://www.facebook.com/GCBA/" target="blank">
                                <i class="iconify" id="face" data-icon="gg:facebook"
                                    style="color: white; width: 25px;height: 25px;"></i>
                            </a>
                            <a href="https://twitter.com/gcba" target="blank">
                                <i class="iconify" data-icon="line-md:twitter-x-alt"
                                    style="color: white;width: 25px;height: 25px;"></i>
                            </a>
                            <a href="https://www.instagram.com/buenosaires/" target="blank">
                                <i class="iconify" data-icon="bi:instagram"
                                    style="color: white;width: 25px;height: 25px;"></i>
                            </a>
                            <a href="https://www.youtube.com/user/GCBA" target="blank">
                                <i class="iconify" data-icon="fa:youtube"
                                    style="color: white;width: 25px;height: 25px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot-inf">
                <div class="fot-inf-div-logo">
                    <a href="http://www.buenosaires.gob.ar/" target="blank">
                        <img th:src="@{/img/ciudad-ba.webp}" class="logofo" alt="Logo Buenos Aires Ciudad">
                    </a>
                    <p>Los contenidos de buenosaires.gob.ar están licenciados bajo Creative Commons Reconocimiento
                        2.5
                        Argentina License.</p>
                </div>
                <div class="fot-inf-div-contenido-iz">
                    <a href="https://boletinoficial.buenosaires.gob.ar/" target="blank"><span>Boletín
                            Oficial</span></a>
                    <a href="https://www.buenosaires.gob.ar/innovacion/ciudadinteligente/terminos-y-condiciones"
                        target="blank"><span>Términos y condiciones</span></a>
                    <a href="https://www.buenosaires.gob.ar/privacidad" target="blank"><span>Política de
                            Privacidad</span></a>
                    <a href="https://www.buenosaires.gob.ar/oficiosjudiciales" target="blank"><span>Oficios
                            judiciales</span></a>
                    <form th:action="@{/logout}" method="POST" style="display: none;" id="formDeslogin">
                        <input type="submit" value="salir" id="salir-form">
                    </form>

                </div>
            </div>
        </div>
    </footer>
    <style>

    </style>

    <script th:src="@{/js/plantilla.js}"></script>
</body>

</html>